<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript">

function memberPwUpdate(memberNum){
	window.open( "/member/memberPwUpdate?memberNum="+memberNum, "memberPwUpdate", "width=500,height=400,left=100,top=100");
	
}
</script>

<body>
	<div class="w3-container" align="center">
		<h2>MemberDetail</h2>
		<p> [[${memberCommand.memberName}]]님의 상세정보입니다.</p>
		<a th:href="|/member/memberUpdate?memberNum=${memberCommand.memberNum}|">정보수정</a> |
		<a type="button" th:attr="onclick=|memberPwUpdate('${memberCommand.memberNum}')|" style="text-decoration: underline">비밀번호변경</a> |
		<a type="button" th:attr="onclick=|deleteMember('${memberCommand.memberNum}')|" style="text-decoration: underline">삭제</a>
		<hr />

		<table class="w3-ul w3-card-4" style="width: 70%;" border="3">
			<tr class="w3-bar">
				<th>번호 :</th>
				<th>[[${memberCommand.memberNum}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>이름 :</th>
				<th>[[${memberCommand.memberName}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>아이디 :</th>
				<th>[[${memberCommand.memberId}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>주소 :</th>
				<th>[[${memberCommand.memberAddr}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>상세주소 :</th>
				<th>[[${memberCommand.memberAddrDetail}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>우편번호 :</th>
				<th>[[${memberCommand.memberPost}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>등록일 :</th>
				<th>[[${#dates.format(memberCommand.memberRegist,'yyyy-MM-dd')}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>성별 :</th>
				<th>[[${memberCommand.Gender}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>전화번호1 :</th>
				<th>[[${memberCommand.memberPhone1}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>전화번호2 :</th>
				<th>[[${memberCommand.memberPhone2}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>이메일 :</th>
				<th>[[${memberCommand.memberEmail}]]</th>
			</tr>
			<tr class="w3-bar">
				<th>생년월일 :</th>
				<th>[[${#dates.format(memberCommand.memberBirth,'yyyy-MM-dd')}]]</th>
			</tr>
		</table>
		
	</div>
	

</body>
</html>
