<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<title>Insert title here</title>

</head>
<body>
<div class="w3-container" align="center">
 <h2>Avatar Table</h2>
  <p>You can use a table structure while keeping the same styles:</p>
  <hr/>

<table class="w3-ul w3-card-4" style="width:50%;">
    <tr class="w3-bar">
      <td>
        <span class="w3-large" >emp_10005</span>
      </td>
      <td>
        <div class="w3-bar-item">
          <input type="text">
        </div>
      </td>
       <td>
        <div class="w3-bar-item">
          <span class="w3-large" >정지원</span>
        </div>
      </td>
      
      <td>
        <span onclick="this.parentElement.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      </td>
    </tr>
  </table>
  </div>
</body>
</html>