<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCShopping.mapper.MemberInfoMapper">
<select id="memberSelectOne" parameterType="string" resultType="memberDTO">
select MEMBER_NUM,MEMBER_ID,MEMBER_PW,MEMBER_ADDR,MEMBER_ADDR_DETAIL,MEMBER_POST,MEMBER_REGIST,
GENDER,MEMBER_PHONE1,MEMBER_PHONE2,MEMBER_EMAIL,MEMBER_BIRTH, MEMBER_NAME
from members where member_id = #{memberId}
</select>
<update id="memberMyUpdate" parameterType="memberDTO" >
update members set MEMBER_ADDR = #{memberAddr}, MEMBER_ADDR_DETAIL = #{memberAddrDetail}
, MEMBER_POST = #{memberPost}, MEMBER_REGIST = #{memberRegist}, GENDER= #{gender}, MEMBER_PHONE1 = #{memberPhone1}
, MEMBER_PHONE2 = #{memberPhone2}, MEMBER_EMAIL = #{memberEmail}, MEMBER_BIRTH = #{memberBirth}, MEMBER_NAME= #{memberName}
where member_id = #{memberId}
</update>
<update id="memberPwUpdate" parameterType="string">
update members set member_pw = #{_newPw} where member_id = #{_memberId}
</update>
<delete id="memberDelete" parameterType="string">
delete from members where member_id = #{_memberId}
</delete>

</mapper>