<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewRepositorySql">

<select id="reviewSelectOne" parameterType="reviewDTO" resultType="reviewDTO">
select  goods_num,purchase_num,review_date, review_contents, member_id
 from reviews
 where goods_num = #{goodsNum} and purchase_num = #{purchaseNum}
</select>



<insert id="reviewinsert" parameterType="reviewDTO">
INSERT INTO reviews (goods_num, purchase_num, review_date, review_contents, member_id)
VALUES (#{goodsNum}, #{purchaseNum}, sysdate, #{reviewContents}, #{memberId})
</insert>

<update id="reviewUpdate" parameterType="reviewDTO">
 update reviews set 
 review_contents = #{reviewContents}
 ,review_date = sysdate
 where goods_num = #{goodsNum} and purchase_num = #{purchaseNum}
</update>

<select id="goodsReviewList" parameterType="string" resultType="ReviewDTO">
 select goods_num, purchase_num, review_date, review_contents, member_id
 from reviews
 where goods_num = #{goodsNum}
</select>
</mapper>