<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
	
	$(function() {
		$("#cartBtn").click(function(){
			var cartQty = $("#cartQty").val();
			$.ajax({
				type:"post",
				url:"/item/itemCart",
				data : {"goodsNum":"[[${dto.goodsDTO.goodsNum}]]", "cartQty":cartQty},
				dataType: "json",
				success : function(){
					con = confirm("장바구니로 이동하시겠습니까?");
					if(con){
						location.href="/item/cartList";
					}else{
						document.location.reload();
					}
				},
				error : function(){
					alert("로그인을 다시 해주세요");
					//location.href="/";
					false;
				}
			});
		});
		
		
		
		
		
		
		
		
		$("#wish").click(function() {
			/*
			 const goodsNum =  "[[${dto.goodsDTO.goodsNum}]]";

			console.log(goodsNum);
			$.ajax({
				type : "post",
				url : "/item/itemWish",
				data : {
					"goodsNum" : goodsNum
				},
				dataType : "json",
				success : function(result) {
					if ($("#wish").attr("src") == "/static/images/hart1.jpg") {
						$("#wish").attr("src", "/static/images/hart.jpg");
					} else {
						$("#wish").attr("src", "/static/images/hart1.jpg");
					}
				},
				error : function() {
					alert("로그인을 다시 해주세요.");
					
					return false;
				}
			});*/
			var xhr = new XMLHttpRequest();
			xhr.open("post", "/item/itemWish", true);
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.onload = function(){
					if(xhr.status == 200) { //정상적으로 처리 되었을 때 가져오는 값 200
						var result = xhr.responseText;
						if ($("#wish").attr("src") == "/static/images/hart1.jpg") {
							$("#wish").attr("src", "/static/images/hart.jpg");
						} else {
							$("#wish").attr("src", "/static/images/hart1.jpg");
						}
					} else{
						alert("로그인을 다시 해주세요.");
						//location.href="/";
						return false;
					}
				}
				var formData = JSON.stringify(
						{"goodsNum":"[[${dto.goodsDTO.goodsNum}]]"}
						);
				xhr.send(formData);
		});
	});
</script>
</head>
<body>
	<table width="800" align="center">
		<caption>[[${dto.goodsDTO.goodsName}]] 상품정보입니다.</caption>
		<tr>
			<td rowspan="5"><img
				th:src="|/static/upload/${dto.goodsDTO.goodsMainStoreImage}|"
				height="200" /></td>
		</tr>
		<tr>
			<td>제품 이름 : [[${dto.goodsDTO.goodsName}]]</td>
		</tr>
		<tr>
			<td>가격 : [[${dto.goodsDTO.goodsPrice}]]</td>
		</tr>
		<tr>
			<td>조회수 : [[${dto.goodsDTO.visitCount}]]</td>
		</tr>
		<tr>
			<td>수량 : <input type="number" min="1" step="1" value="1"
				id="cartQty" /></td>
		</tr>
		<tr>
			<td><th:block th:if="${dto.stock != 0 and dto.stock != null}">
					<button type="button" id="cartBtn">장바구니</button> |
            <button type="button" id="buyItem">바로구매</button> | 
         </th:block> <th:block th:if="${dto.stock == 0 or dto.stock == null}">
         품절입니다. 곧 입고될 예정입니다
         </th:block>  
         
         <img src="/static/images/hart1.jpg" width="20" id="wish" /> 찜</td>

			<!-- <img src="/static/images/hart.jpg" width="20" id="wish" /> 찜</td> -->


		</tr>
		<tr>
			<td colspan="2"><span id="descript">제품 상세 설명</span> | <span
				id="review">리뷰</span> | <span id="inquire" onclick="inquire();">상품문의</span></td>
		</tr>
		<tr>
			<td colspan="2"><div id="content"></div></td>
		</tr>
	</table>
</body>
</html>