<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAlbum.mapper.IpgoMapper">
<sql id="BaseColumn">
GOODS_NUM, IPGO_NUM, IPGO_QTY, IPGO_DATE, MADE_DATE, IPGO_PRICE, EMP_NUM
</sql>

<insert id="ipgoInsert" parameterType="ipgoDTO">
	insert into goods_ipgo ( <include refid="BaseColumn"/> )
	values (#{goodsNum}, #{ipgoNum}, #{ipgoQty}, sysdate, #{madeDate}, #{ipgoPrice}, #{empNum})
</insert>

<select id="ipgoSelectAll">
	select <include refid="BaseColumn"/> from goods_ipgo
</select>

<select id="ipgoSelectOne" parameterType="string" resultType="ipgoDTO">
	select <include refid="BaseColumn"/> from goods_ipgo
	where ipgo_num = #{ipgoNum}
</select>

<update id="ipgoUpdate" parameterType="ipgoDTO">
	update goods_ipgo set
	goods_num = #{goodsNum},
	ipgo_qty = #{ipgoQty},
	made_date = #{madeDate},
	ipgo_price = #{ipgoPrice},
	IPGO_DATE = sysdate,
	emp_num = #{empNum}
	where ipgo_num = #{ipgoNum}
</update>

<delete id="ipgoDelete" parameterType="string">
	delete from goods_ipgo
	where ipgo_num = #{ipgoNum}
</delete>
</mapper>