<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAlbum.mapper.MemberMapper">
	<sql id="BaseColumns">
		MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW, MEMBER_ADDR
		, MEMBER_ADDR_DETAIL, MEMBER_POST, MEMBER_REGIST, GENDER, MEMBER_PHONE1
		, MEMBER_PHONE2, MEMBER_EMAIL, MEMBER_BIRTH, MEMBER_POINT,
		MEMBER_EMAIL_CONF
	</sql>
	<insert id="memberInsert" parameterType="memberDTO">
		insert into members( <include refid="BaseColumns" /> )
		values (#{memberNum}, #{memberName}, #{memberId}, #{memberPw}, #{memberAddr}, 
				#{memberAddrDetail}, #{memberPost}, sysdate, #{gender}, #{memberPhone1}, 
				#{memberPhone2}, #{memberEmail}, #{memberBirth}, 0, 'N')
	</insert>
	
	<select id="memberSelectAll" resultType="memberDTO">
		select <include refid="BaseColumns" /> from members order by member_num asc
	</select>
	
	<select id="memberSelectOne" resultType="memberDTO">
		select <include refid="BaseColumns" /> from members
		where member_num = #{memberNum}
	</select>
	
	<update id="memberUpdate" parameterType="memberDTO">
	update members set
	MEMBER_NAME=#{memberName}
	, MEMBER_ID=#{memberId}
	, MEMBER_PW=#{memberPw}
	, MEMBER_ADDR=#{memberAddr}
	, MEMBER_ADDR_DETAIL=#{memberAddrDetail}
	, MEMBER_POST=#{memberPost}
	, MEMBER_REGIST=sysdate
	, GENDER=#{gender}
	, MEMBER_PHONE1=#{memberPhone1}
	, MEMBER_PHONE2=#{memberPhone2}
	, MEMBER_EMAIL=#{memberEmail}
	, MEMBER_BIRTH=#{memberBirth}
	where member_num=#{memberNum}
	
	</update>
	
	<update id="memberPwUpdate" parameterType="string">
	update members set
	MEMBER_PW=#{updatePw}
	where member_num=#{memberNum}
	</update>
	
	<delete id="memberDelete" parameterType="string">
	delete from members
	where member_num = #{memberNum}
	</delete>
</mapper>