<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAlbum.mapper.ModuleMapper">

<select id="autoNumSelect" parameterType="map" resultType="string">
SELECT CONCAT(#{sep}, NVL(MAX(SUBSTR(${columnName}, #{len})), 100000) + 1) 
FROM ${tableName}
<if test="len == 4">
    WHERE ${columnName} LIKE CONCAT(#{sep}, '%')
</if>
</select>


</mapper>