<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAlbum.mapper.PurchaseSelectMapper">

	<resultMap type="orderListDTO" id="orderListResultMap">
	<association property="deliveryDTO">
		<id column="purchase_Num" jdbcType="VARCHAR" property="purchaseNum"/>
		<result column="delivery_num" jdbcType="VARCHAR" property="deliveryNum" />
		<result column="delivery_date" jdbcType="DATE" property="deliveryDate"/>
		<result column="delivery_status" jdbcType="VARCHAR" property="deliveryStatus"/>
	</association>
	<association property="purchaseDTO" javaType="purchaseDTO">
	    <id column="purchase_Num" property="purchaseNum" javaType="string" jdbcType="VARCHAR" />
	    <result column="purchase_Date" property="purchaseDate" javaType="java.util.Date" jdbcType="DATE" />
	    <result column="purchase_Price" property="purchasePrice" javaType="integer" jdbcType="INTEGER" />
	    <result column="DELIVERY_ADDR" property="deliveryAddr" javaType="string" jdbcType="VARCHAR" />
	    <result column="DELIVERY_ADDR_DETAIL" property="deliveryAddrDetail" javaType="string" jdbcType="VARCHAR" />
	    <result column="DELIVERY_POST" property="deliveryPost" javaType="string" jdbcType="VARCHAR" />
	    <result column="DELIVERY_PHONE" property="deliveryPhone" javaType="string" jdbcType="VARCHAR" />
	    <result column="MESSAGE" property="message" javaType="string" jdbcType="VARCHAR" />
	    <result column="purchase_Status" property="purchaseStatus" javaType="string" jdbcType="VARCHAR" />
	    <result column="member_num" property="memberNum" javaType="string" jdbcType="VARCHAR" />
	    <result column="delivery_name" property="deliveryName" javaType="string" jdbcType="VARCHAR" />
	    <result column="purchase_Name" property="purchaseName" javaType="string" jdbcType="VARCHAR" />
	</association>

	<association property="paymentDTO" javaType="paymentDTO">
		<id column="purchase_Num" jdbcType="VARCHAR" property="purchaseNum"/>
		<result column="confirmnumber" jdbcType="VARCHAR" property="confirmnumber"/>
		<result property="appldate" column="appldate" jdbcType="VARCHAR" />
		<result property="appltime" column="appltime" jdbcType="VARCHAR" />
		<result property="totalprice" column="totalprice" jdbcType="BIGINT" />
		<result property="cardnum" column="cardnum" jdbcType="VARCHAR" />
	</association>
	<collection property="purchaseListGoodsDTO" ofType="purchaseListGoodsDTO">
		<association property="purchaseListDTO" javaType="purchaseListDTO">
			<result column="purchase_qty" jdbcType="BIGINT" property="purchaseQty"/>
			<result column="PURCHASE_PRICE" jdbcType="BIGINT" property="totalPrice"/>
		</association>
		<association property="goodsDTO" javaType="goodsDTO">
			<id column="goods_Num" jdbcType="VARCHAR" property="goodsNum"/>
			<result column="goods_contents" jdbcType="VARCHAR" property="goodsContents"/>
			<result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
			<result column="GOODS_MAIN_STORE_IMAGE" jdbcType="VARCHAR" property="goodsMainStoreImage"/>
		</association>
		<association property="reviewDTO" javaType="reviewDTO">
			<result column="review_Date" jdbcType="DATE" property="reviewDate"/>
			<result column="review_subject" jdbcType="VARCHAR" property="reviewSubject"/>
			<result column="review_Contents" jdbcType="VARCHAR" property="reviewContents"/>
			<result column="member_Id" jdbcType="VARCHAR" property="memberId"/>
		</association>
	</collection>
</resultMap>

<select id="myPurchaseSelect" parameterType="string" resultMap="orderListResultMap">
	select g.GOODS_NUM, p.PURCHASE_NUM, p.PURCHASE_DATE, p.PURCHASE_PRICE, p.DELIVERY_ADDR, p.DELIVERY_ADDR_DETAIL, p.DELIVERY_POST
	, p.DELIVERY_PHONE, p.MESSAGE, p.PURCHASE_STATUS, p.MEMBER_NUM, p.DELIVERY_NAME, p.PURCHASE_NAME
	,pl.GOODS_NUM, pl.PURCHASE_NUM, pl.PURCHASE_QTY, pl.PURCHASE_PRICE
	, g.GOODS_NAME, g.GOODS_MAIN_STORE_IMAGE
	,pm.PURCHASE_NUM, pm.CONFIRMNUMBER, pm.TOTALPRICE, pm.PAYMETHOD
	,d.PURCHASE_NUM, d.DELIVERY_NUM, d.DELIVERY_DATE, d.DELIVERY_STATUS
    ,r.review_date, r.review_Contents, r.member_Id, r.review_subject
	from purchase p
	join purchase_list pl on p.PURCHASE_NUM = pl.PURCHASE_NUM
	join goods g on pl.goods_num = g.goods_num
	left outer join payment pm on pl.purchase_num = pm.purchase_num
	left outer join delivery d on pl.purchase_num = d.purchase_num
    left outer join reviews r on g.goods_num = r.goods_num 
	where p.MEMBER_NUM = #{memberNum}
</select>

<select id="PurchaseSelectAll" resultMap="orderListResultMap">
	select p.PURCHASE_NUM, p.PURCHASE_DATE, p.PURCHASE_PRICE, p.DELIVERY_ADDR, p.DELIVERY_ADDR_DETAIL, p.DELIVERY_POST
	, p.DELIVERY_PHONE, p.MESSAGE, p.PURCHASE_STATUS, p.MEMBER_NUM, p.DELIVERY_NAME, p.PURCHASE_NAME
	,pl.GOODS_NUM, pl.PURCHASE_NUM, pl.PURCHASE_QTY, pl.PURCHASE_PRICE
	,g.GOODS_NUM, g.GOODS_NAME, g.GOODS_MAIN_STORE_IMAGE
	,pm.PURCHASE_NUM, pm.CONFIRMNUMBER, pm.TOTALPRICE, pm.PAYMETHOD
	,d.PURCHASE_NUM, d.DELIVERY_NUM, d.DELIVERY_DATE, d.DELIVERY_STATUS
	from purchase p
	join purchase_list pl on p.PURCHASE_NUM = pl.PURCHASE_NUM
	join goods g on pl.goods_num = g.goods_num
	left outer join payment pm on pl.purchase_num = pm.purchase_num
	left outer join delivery d on pl.purchase_num = d.purchase_num
</select>

<delete id="paymentDelete" parameterType="string">
	delete from payment
	where purchase_num = #{purchaseNum}
</delete>

<select id="purchaseSelectOne" parameterType="string" resultMap="orderListResultMap">
	select p.PURCHASE_NUM, p.PURCHASE_DATE, p.PURCHASE_PRICE, p.DELIVERY_ADDR, p.DELIVERY_ADDR_DETAIL, p.DELIVERY_POST
	, p.DELIVERY_PHONE, p.MESSAGE, p.PURCHASE_STATUS, p.MEMBER_NUM, p.DELIVERY_NAME, p.PURCHASE_NAME
	,pl.GOODS_NUM, pl.PURCHASE_NUM, pl.PURCHASE_QTY, pl.PURCHASE_PRICE
	,g.GOODS_NUM, g.GOODS_NAME, g.GOODS_MAIN_STORE_IMAGE
	,pm.PURCHASE_NUM, pm.CONFIRMNUMBER, pm.TOTALPRICE, pm.PAYMETHOD
	,d.PURCHASE_NUM, d.DELIVERY_NUM, d.DELIVERY_DATE, d.DELIVERY_STATUS
	from purchase p
	join purchase_list pl on p.PURCHASE_NUM = pl.PURCHASE_NUM
	join goods g on pl.goods_num = g.goods_num
	left outer join payment pm on pl.purchase_num = pm.purchase_num
	left outer join delivery d on pl.purchase_num = d.purchase_num
	where p.purchase_num = #{purchaseNum}
</select>


<insert id="deliveryInsert" parameterType="hashmap">
	insert into delivery (PURCHASE_NUM,DELIVERY_NUM,DELIVERY_DATE,DELIVERY_STATUS)
	values ( #{purchaseNum}, #{deliveryNum}, sysdate, '배송중')
</insert>

<update id="deliveryStatusUpdate" parameterType="string">
	update delivery set
	DELIVERY_STATUS = '배송완료'
	where delivery_num = #{deliveryNum}
</update>
</mapper>