<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCShopping.mapper.EmployeeMapper">
<sql id="column">
EMP_NUM,EMP_ID,EMP_PW,EMP_NAME,EMP_ADDR,EMP_ADDR_DETAIL,EMP_POST
,EMP_PHONE,EMP_JUMIN,EMP_EMAIL,EMP_HIRE_DATE,EMP_IMAGE
</sql>
<insert id="empInsert" parameterType="EmpDTO">
insert into employees (<include refid="column"/>)
values (#{empNum}, #{empId}, #{empPw}, #{empName},#{empAddr},#{empAddrDetail},#{empPost},#{empPhone}
,#{empJumin},#{empEmail}, sysdate, null)
</insert>

<select id="empCount" resultType="integer">
select count(*) from employees
</select>

<select id="empSelectList" resultType="EmpDTO" parameterType="StartEndPageDTO">
select * from (select row_number() over(order by emp_num) rn, <include refid="column"/> from employees
<where>
<if test="searchWord !=null">
emp_num like '%'||#{searchWord}||'%' or
emp_name like '%'||#{searchWord}||'%' or
emp_id like '%'||#{searchWord}||'%'
</if>
</where>)
where rn between #{startRow} and #{endRow}
</select>

<select id="empSelectOne" resultType="EmpDTO" parameterType="string">
select <include refid="column"/> from employees
where emp_num = #{empNum}
</select>

<update id="empUpdate" parameterType="EmpDTO">
update employees set
EMP_ID = #{empId},EMP_PW= #{empPw},EMP_NAME= #{empName},EMP_ADDR= #{empAddr}
,EMP_ADDR_DETAIL= #{empAddrDetail},EMP_POST= #{empPost}
,EMP_PHONE= #{empPhone},EMP_JUMIN= #{empJumin},EMP_EMAIL= #{empEmail}
where emp_num = #{empNum}

</update>

<delete id="empDelete" parameterType="string">
delete from employees where emp_num in 
<foreach collection="empNum" open="(" close=")" index="index" separator="," item="num">
#{num}
</foreach>
</delete>



</mapper>