<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	window.onunload = function(){
		if(window.opener && !window.opener.closed){
			window.opener.location.reload();
		}
	}
</script>
</head>
<body>
	구매 상품 정보
	<br>
	<table width="800" align="center" border="1">

		<th:block th:each="dto : ${list[0].purchaseListGoodsDTO}">
			<tr>
				<td><img width="30"
					th:src="|/static/upload/${dto.goodsDTO.goodsMainStoreImage}|"></td>
				<td>상품명 : [[${dto.goodsDTO.goodsName}]] | 주문금액 :
					[[${dto.purchaseListDTO.totalPrice}]] | 주문수량 :
					[[${dto.purchaseListDTO.purchaseQty}]]</td>
			</tr>
			<tr>
				<td colspan="2"><span>[[${#strings.replace(dto.goodsDTO.goodsContents,
						newLineChar, '&lt; br /&gt;')}]]</span></td>
			</tr>
		</th:block>

		<tr>
			<td width="400">
				<h2>주문내용</h2> 주문번호 : [[${list[0].purchaseDTO.purchaseNum}]]<br>
				주문일 :
				[[${#dates.format(list[0].purchaseDTO.purchaseDate,'yyyy-MM-dd')}]]<br>
				주문금액 : [[${list[0].purchaseDTO.purchasePrice}]]<br> 배송지 :
				[[${list[0].purchaseDTO.deliveryAddr + '' +
				list[0].purchaseDTO.deliveryAddrDetail}]]<br> 연락처 :
				[[${list[0].purchaseDTO.deliveryPhone}]]<br> 받는사람 :
				[[${list[0].purchaseDTO.deliveryName}]]<br> 주문메세지 :
				[[${list[0].purchaseDTO.message}]]<br>
			</td>
			<td width="400" th:if="${list[0].paymentDTO.appldate != null}">
				<h2>결제내용</h2> 결제번호 : <span
				th:if="${list[0].paymentDTO.confirmnumber != null}">[[${list[0].paymentDTO.confirmnumber}]]</span>
				<span th:if="${list[0].paymentDTO.confirmnumber == null}">현금결제</span>
				<br> 결제금액 : [[${list[0].paymentDTO.totalprice}]]<br> 결제일 :
				[[${list[0].paymentDTO.appldate}]]<br> 카드번호 :
				[[${list[0].paymentDTO.cardnum}]]<br>
			</td>
			
			<td width="400" th:if="${list[0].paymentDTO.appldate == null}">
				<h2>결제내용</h2> 결제정보가 없습니다. <br>
			<br>
			<br>
			<br>
			<br>
			</td>
		</tr>
		<th:block th:if="${list[0].paymentDTO.appldate != null}">
		<form action="/delivery/deliveryDelete" method="post" th:if="${list[0].deliveryDTO.deliveryNum != null}">
		<table width="800" align="center" border="1" >
		<input type="hidden" name="purchaseNum" th:value="${list[0].purchaseDTO.purchaseNum}">
		<input type="hidden" name="deliveryNum" th:value="${list[0].deliveryDTO.deliveryNum}">
			<tr>
				<td colspan="2">배송정보</td>
			</tr>
			<tr>
				<td>송장번호</td>
				<td>[[${list[0].deliveryDTO.deliveryNum}]]</td>
			</tr>
			<tr> <th colspan="2"><input type="submit" value="배송정보삭제" /></th> </tr>
		</table>
		</form>
		<form action="/delivery/deliveryRegist" method="post" th:if="${list[0].deliveryDTO.deliveryNum == null}">
			<input type="hidden" name="purchaseNum" th:value="${list[0].purchaseDTO.purchaseNum}">
			
			<table width="800" align="center" border="1">
				<tr>
					<td colspan="2">배송정보입력</td>
				</tr>
				<tr>
					<td>송장번호</td>
					<td><input type="text" name="deliveryNum" required="required" /></td>
				</tr>
				<tr>
					<th colspan="2"><input type="submit" value="배송정보등록" /></th>
				</tr>
			</table>
		</form>
		</th:block>
</body>
</html>