<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="w3-container" align="center">
 <h2>Avatar Table</h2>
  <p>You can use a table structure while keeping the same styles:</p>
  <hr/>
  <a href="#">
  <table class="w3-ul w3-card-4" style="width:50%;">
    <tr class="w3-bar">
      <td>
        <img src="/static/images/cover.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
      </td>
      <td>
        <div class="w3-bar-item">
          <span class="w3-large" >emp_10005</span>
        </div>
      </td>
       <td>
        <div class="w3-bar-item">
          <span class="w3-large" >정지원</span>
        </div>
      </td>
      
      <td>
        <span onclick="this.parentElement.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      </td>
    </tr>
  </table>
  </a>
  <br />
  <a href="emp/empRegist" style="text-decoration: none;">
  <table class="w3-ul w3-card-4" style="width:50%;">
 	  <tr >
      <th colspan="4" >회원등록</th>
    </tr>
    </table>
    </a>
  
  </div>

</body>
</html>
