<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<body>
<div class="w3-container" align="center">
 <h2>EmployeeList</h2>
  <a href="/emp/empRegist">직원등록</a>
  <hr/>
  
  <table class="w3-ul w3-card-4">
  <tr class="w3-bar" th:each="dto : ${list}" th:data-emp-num="${dto.empNum}" onclick="empMyInfo(this)">
    <td>
      <img src="/static/images/cover.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
    </td>
    <td>
      <div class="w3-bar-item">
        <span class="w3-large">[[${dto.empNum}]]</span>
      </div>
    </td>
    <td>
      <div class="w3-bar-item">
        <span class="w3-large">[[${dto.empName}]]</span>
      </div>
    </td>
    <td>
    <a type="button" th:attr="onclick=|deleteEmp('${dto.empNum}')|" style="text-decoration: underline">
    <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span> </a>
    </td>
  </tr>
</table>


  </div>

</body>
</html>
