<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="goodsUpdate" method="post" th:object="${goodsCommand}" >
<table border=1 align="center" width="600">
	<caption> 상품 상세보기</caption>
	<tr><th width="150" >상품번호</th>
		<td><input type="text" name="goodsNum" th:value="${goodsCommand.goodsNum }"></td></tr>
	<tr><th width="150" >상품명</th>
		<td><input type="text" name="goodsName" th:value="${goodsCommand.goodsName }"></td></tr>
	<tr><th>상품가격</th>
		<td><input type="text" name="goodsPrice" th:value="${goodsCommand.goodsPrice }"></td></tr>
	<tr><th>상품설명</th>
		<td><textarea rows="10" cols="45" name="goodsContents">[[${goodsCommand.goodsContents }]]</textarea></td></tr>
	<tr><th>조회수</th>
		<td><input type="text" name="visitCount" th:value="${goodsCommand.visitCount }"></td></tr>
	<tr><th>등록한 사원</th>
		<td><input type="text" name="empNum" th:value="${goodsCommand.empNum }"></td></tr>
	<tr><th>등록일</th>
		<td><input type="date" name="goodsRegist" th:value="${#dates.format(goodsCommand.goodsRegist, 'yyyy-MM-dd') }"></td></tr>
	<tr><th>마지막 수정 사원</th>
		<td><input type="text" name="updateEmpNum" th:value="${goodsCommand.updateEmpNum }"></td></tr>
	<tr><th>마지막 수정일</th>
		<td><input type="date" name="goodsUpdateDate" th:value="${#dates.format(goodsCommand.goodsUpdateDate, 'yyyy-MM-dd') }"></td></tr>
	<tr> <th>대문이미지</th> <td> <input type="file" name="goodsMainImage" id="mainFile"><button type="button" style="display:none" >삭제</button>
				[[${goodsCommand.goodsMainImage}]] </td> </tr>
		
		<tr> <th>상세이미지</th> <td> <input type="file" name="goodsDetailImage" id="multiFile"> 
		<div th:each="image : ${#strings.arraySplit(goodsCommand.goodsDetailImage,'/')}">
			[[${image}]] <button type="button" style="display:none">삭제</button>	</div> </td> </tr>
	<tr><th colspan="2">
		<input type="submit" value="수정" />
		<button type="button" onclick="window.history.back();">수정취소</button> 
		<button type="button" onclick="window.location.href='goodsList';">상품목록</button></th></tr>
</table>
</form>

</body>
</html>