<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function setGoods() {
    $("#goodsNum").val($(opener.document).find("#goodsNum").val($("#goodsNum").text()));
    $("#goodsName").val($(opener.document).find("#goodsName").val($("#goodsName").text()));
    window.close();
}
</script>
</head>
<body>
	
	<form action="goodsList" method="get">
	<table border=1 width="600" align="center">
		<caption>상품 목록 (상품 수 : [[${count}]])</caption>
		<tr><th colspan="6">상품검색 : <input type="search"> <input type="button" value="검색"> </th></tr>
		</form>
		<form action="goodsDelete" method="post" id="frm">
		<tr>
			
			<th>번호</th>
			<th>상품번호</th>
			<th>상품명</th>
			<th>상품가격</th>
			<th>
				
			</th>
		</tr>
		<tr th:each="dto, status : ${list}">
			
			<th th:text="${status.index + 1}"></th>
			<th id="goodsNum">[[${dto.goodsNum }]]</th>
			<th id="goodsName">[[${dto.goodsName}]]</th>
			<th>[[${dto.goodsPrice }]]</th>
			<th><button type="button" onclick="setGoods();">상품 선택</button></th>
		</tr>
		
		
		</form>
	</table>
</body>
</html>