<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		window.open("/goodsIpgo/goodsList","상품검색","width=600, height=500, top=500, left=60")
	});
});

</script>
</head>
<body>
<form action="goodsIpgoUpdate" method="post">
<table border="1" align="center" th:object="${ipgoCommand}">
<tr> <th>입고번호</th> <td><input type="text" name="ipgoNum" th:value="${ipgoCommand.ipgoNum}" readonly="readonly"></td> </tr>
<tr> <th>상품번호</th> <td><input type="text" name="goodsNum" id="goodsNum" th:value="${ipgoCommand.goodsNum}"> <button type="button" id="btn" >상품 검색</button></td> </tr>
<tr> <th>입고일</th> <td><input type="date" name="ipgoDate" th:value="${#dates.format(ipgoCommand.ipgoDate, 'yyyy-MM-dd')}"></td> </tr>
<tr> <th>입고수량</th> <td><input type="text" name="ipgoQty" th:value="${ipgoCommand.ipgoQty}"></td> </tr>
<tr> <th>제조일</th> <td><input type="date" name="madeDate" th:value="${#dates.format(ipgoCommand.madeDate, 'yyyy-MM-dd')}"></td> </tr>
<tr> <th>가격</th> <td><input type="text" name="ipgoPrice" th:value="${ipgoCommand.ipgoPrice}"></td> </tr>
<tr> <th>등록한사원</th> <td><input type="text" name="empNum" th:value="${ipgoCommand.empNum}"></td> </tr>
<tr><th colspan="2"> <input type="submit" value="수정"> <button type="button" onclick="window.history.back();">취소</button> </th></tr>
</table>
</form>

</body>
</html>