<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>goodsIpgo</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		window.open("/goods/goodsItem","상품검색","width=600, height=300, top=500, left=60")
	});
	
	$("#regist").click(function(){ //CSR
		$("#frm").ajaxSubmit({
			type: "POST",
			beforeSubmit: function(){
				if($("#goodsNum").val() == ""){
					alert("상품번호를 입력해주세요.");
					$("#goodsNum").focus();
					return false;
				}
				if($("#ipgoQty").val() == ""){
					alert("입고수량을 입력해주세요.");
					$("#ipgoQty").focus();
					return false;
				}
				if($("#ipgoPrice").val() == ""){
					alert("입고가격을 입력해주세요.");
					$("#ipgoPrice").focus();
					return false;
				}
				if($("#madeDate").val() == ""){
					alert("제조일을 입력해주세요.");
					$("#madeDate").focus();
					return false;
				}
			},
			success : function(result){
				if(result == 200){
					location.href="goodsIpgoList";
				}
			},
			error : function(){
				alert("서버오류");
			}
		});
	});
});
	

</script>

</head>
<body>

<ul>
	<li><a href="/">홈</a></li>
	<li><a href="/goods/goodsWrite">상품 추가</a></li>
	<li><a href="goodsIpgo">상품 입고</a></li>
	<li><a href="goodsIpgoList">상품 입고 현황</a></li>
	<li><a href="/goods/goodsList">상품목록</a></li>
</ul>
 
<form action="goodsIpgo" method="post" id="frm" > <!-- onsubmit="return validated();" -->
<input type="hidden" name="empNum" th:value="${ipgoCommand.empNum}">
<table border="1" align="center">
<caption><b>상품 입고 등록</b></caption>
<tr><th>입고번호</th> <td><input type="text" name= "ipgoNum" th:value="${ipgoCommand.ipgoNum}" readonly="readonly" /></td> </tr>
<tr><th>상품번호</th> <td><input type="search" name= "goodsNum" id="goodsNum" readonly="readonly"/> <button type="button" id="btn" >상품 검색</button></td> </tr>
<tr><th>상품명</th> <td> <input type="text"  id="goodsName" readonly="readonly"/></td> </tr>

<tr><th>입고수량</th> <td><input type="number" id="ipgoQty" name= "ipgoQty" value="1" min="1"/></td> </tr>
<tr><th>제조일</th> <td><input type="datetime-local" id="madeDate" name="madeDate" /></td> </tr>
<tr><th>가격</th> <td><input type="number" name="ipgoPrice" id="ipgoPrice" /></td> </tr>
<tr><th colspan="2"><input type="button" value="입고 등록" id="regist" /></th></tr>
 </table>
 </form>
</body>
</html>