<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ipgoDetail</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
$(function(){
    $.ajax({
       type : "post",
       url : "goodsIpgoDetail",
       data : {"ipgoNum" : "[[${ipgoNum}]]", "goodsNum" : "[[${goodsNum}]]"},
       success : function(dto){
          var ipgoDate = new Date(dto.ipgoDTO.ipgoDate);
          var ipgoYear = ipgoDate.getFullYear();
          var ipgoMonth = ("0" + (ipgoDate.getMonth() + 1)).slice(-2);
          var ipgoDay = ("0" + ipgoDate.getDate()).slice(-2);
          
          var madeDate = new Date(dto.ipgoDTO.madeDate);
          var madeYear = madeDate.getFullYear();
          var madeMonth = ("0" + (madeDate.getMonth() + 1)).slice(-2);
          var madeDay = ("0" + madeDate.getDate()).slice(-2);
          
          var html = "입고번호 : " + dto.ipgoDTO.ipgoNum + "<br />";
          html += "상품번호 : "+dto.ipgoDTO.goodsNum + "<br />";
          html += "상품명 : "+dto.goodsName+"<br />";
          html += "입고일 : "+ ipgoYear+"년 "+ipgoMonth+"월 "+ipgoDay+"일"+"<br />";
          html += "입고 수량 : "+dto.ipgoDTO.ipgoQty+"<br />";
          html += "제조일 : "+ madeYear+"년 "+madeMonth+"월 "+madeDay+"일"+"<br />";
          html += "가격 : "+dto.ipgoDTO.ipgoPrice+"<br />";
          html += "등록한 사원 : "+dto.ipgoDTO.empNum+"<br />";
          html += "<button type='button' onclick=\"ipgoUpdate('" + dto.ipgoDTO.ipgoNum + "', '" + dto.ipgoDTO.goodsNum + "');\">입고 수정</button> | ";
          html += "<button type='button' onclick = \"ipgoDelete('" + dto.ipgoDTO.ipgoNum + "','" + dto.ipgoDTO.goodsNum + "');\">입고 삭제</button>";
          $("#detail").html(html);
       },
       error : function(){
          alert("서버 오류");
       }
    });
 })
function ipgoUpdate(ipgoNum, goodsNum){
	location.href="goodsIpgoUpdate?ipgoNum="+ipgoNum+"&goodsNum="+goodsNum;
}
function ipgoDelete(ipgoNum, goodsNum){
	location.href="goodsIpgoDelete?nums="+ipgoNum+"-"+goodsNum;
}
</script>
</head>
<body>
<div id="detail"></div>


</body>
</html>